.linkCard {
  max-height: 17.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__image {
    max-height: 10rem;
    max-width: 10rem;
    height: 100%;
    width: 100%;
  }
}
